%h1= t('application.edit_model', model: t('activerecord.modules.content.one'))
= render "form", content: @content
%br/
%div
  = link_to t('application.show_model', model: t('activerecord.modules.content.one')), @content
  |
  \#{link_to t('application.back_model', model: t('activerecord.modules.content.other')), contents_path}
