%h1= t('application.new_model', model: t('activerecord.modules.content.one'))
= render "form", content: @content
%br/
%div
  = link_to t('application.back_model', model: t('activerecord.modules.appointment.other')), contents_path
