%h1= t('application.new_model', model: t('activerecord.modules.doctor.one'))
= render "form", doctor: @doctor
%br/
%div
  = link_to t('application.back_model', model: t('activerecord.modules.doctor.other')), doctors_path
